body{
font-family:Arial,Times,Sans-serif;
background-color:#C3DDDD;
}

header{
background-color:#FC63A4;
color:white;
width:80%;
margin-left:auto;
margin-right:auto;
padding:10px;
overflow:hidden;
}
h1{
line-height:5px;
font-size:1.2em;
}
hgroup h1{
font-size:2em;
}
hgroup h2{
font-size:1.2em;
}
hgroup{
width:70%;
float:left;
}
nav{
width:30%;
float:right;
}
nav ul{
list-style-type:none;
}
nav li{
float:left;
margin-right:10px;
}
section{
background-color:white;
width:80%;
margin-left:auto;
margin-right:auto;
border-width:5px;
border-style:double;
border-color:#FC63A4;
padding:5px;
article h3{
text-align:center;
margin:5px;
}
article h1{
text-align:right;
color:blue;
}
}
article img{
float:right;
margin:10px;
border-style:solid;
border-width:2px;
border-color:black;
}
div.photo{
float:left;
margin:10px;
border-style:solid;
border-width:2px;
border-color:black;
}
footer{
background-color:#FC63A4;
background-style:solid;
color:white;
width:80%;
margin-left:auto;
margin-right:auto;
padding:10px;
}